<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plans example </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    

<div class="container py-3">
  <header>
   

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Plans</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
  </header>

  <main>

    <div class="pricing-area">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single-price">
                <div class="deal-top">
                  <h3>Basic</h3>
                  <h4> 29 <span class="sup">$</span> </h4> 
                </div>
                <div class="deal-bottom">
                  <ul class="deal-item">
                    <li>10 GB Storage</li>
                    <li>10 Email address</li>
                    <li>10 Domain names</li>
                    <li>500 gb Bandwidth </li>
                    <li>24 hour Support </li>
                  </ul>
                  <div class="btn-area">
                    <a class="nav-link active" routerLink="/cart">Sign Up</a>			
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single-price">
                <div class="deal-top">
                  <h3>Standard</h3>
                  <h4> 59 <span class="sup">$</span> </h4>
                </div>
                <div class="deal-bottom">
                  <ul class="deal-item">
                    <li>50 GB Storage</li>
                    <li>50 Email address</li>
                    <li>50 Domain names</li>
                    <li>1 TB Bandwidth </li>
                    <li>24 hour Support </li>
                  </ul>
                  <div class="btn-area">
                    <a class="nav-link active" routerLink="/cart">Sign Up</a>			
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="single-price">
                <div class="deal-top">
                  <h3>Professional</h3>
                  <h4> 79 <span class="sup">$</span> </h4> 
                </div>
                <div class="deal-bottom">
                  <ul class="deal-item">
                    <li>100 GB Storage</li>
                    <li>100 Email address</li>
                    <li>100 Domain names</li>
                    <li>5 TB Bandwidth </li>
                    <li>24 hour Support </li>
                  </ul>
                  <div class="btn-area">
                    <a class="nav-link active" routerLink="/cart">Sign Up</a>			
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
      
  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
      
        </ul>
      </div>
    </div>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



  </body>
</html>
